@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
:root{
    --black: hsl(230, 35%, 7%);
    --lile: hsl(231, 77%, 90%);
    --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  color: var(--lile);
  font-weight: 400;
}
*::selection{
    background-color: hsl(230, 35%, 10%);
}

body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-color: var(--black);
    background-size: cover;
    transition: background-image 3s;
}

.heading1, .heading2, .heading3, .heading4{
    font-family: 'Bellefair', serif;
}
.heading1{
    font-size: 150px;
    color: var(--white);
}
.heading2{
    font-size: 100px;
}
.heading3{
    font-size: 56px;
}
.heading4{
    font-size: 32px;
}
.heading5{
    font-size: 28px;
    letter-spacing: 4.75px;
}
.subheading1{
    font-size: 28px;
}
.subheading2{
    font-size: 14px;
    letter-spacing: 2.35px;
}
.nav-text{
    font-size: 16px;
    letter-spacing: 2.7px;
}

strong{
    font-weight: bold;
    color: var(--white);
}

.heading1, .heading2, .heading3, .heading4, .heading5, .subheading1, .subheading2, .nav-text{
    text-transform: uppercase;
}
figure{
    caret-color: transparent;
}

a{
    text-decoration: none;
}
